<h4> Add showings for <%= @movie.name %> </h4>

<%= bootstrap_form_for @showing, url: { action: "create" }, remote: true, html: {id: "showing-form" }, layout: :horizontal do |f| %>
  <%= f.datetime_field :datetime %>
  <%= f.select :auditorium_id, @auditorium_list %> 
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.submit "Create" %>
<% end %>
<br />
<h4> Current showings for this movie: </h4>
<ul id="showings_list">
  <%= render @movie.showings %>
</ul>

