<h2> <%= @movie.name %> </h2>
<p> Genre: <%= @movie.genre %> </p>
<p> Description: <%= @movie.description %> </p>
<p> Rating: <%= @movie.rating  %> </p>
<p> Duration: <%= @movie.duration %> </p>

<p> Date and time: <%= @showing.formatted_date %> </p>

<%= link_to "Buy", new_order_path(showing_id: @showing.id) %>