<h2> Create new movie </h2>

<%= form_for @movie, url: { action: "create" }, remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :duration %>
  <%= f.text_field :duration %>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit "Create" %>
<% end %>