<h4> Buy tickets for <%= @showing.movie.name %> </h4>
<h3> Time and date: <%= @showing.formatted_date %> </h3>

<%= bootstrap_form_for @order, url: {action: "create"} do |f| %>
  <%= f.text_field :name %>
  <%= f.email_field :email %>
  <%= f.text_field :credit_card %>
  <%= f.text_field :expiration_date %>
  <%= f.hidden_field :showing_id, value: @showing.id %>
  <%= f.submit "Purchase" %>
<% end %>