<h4> Order id <%= @order.id %> </h4>

<ul>
  <li>Date: <%= @order.created_at %>
  <li>Name: <%= @order.name %> </li>
  <li>Email: <%= @order.email %> </li>
  <li>Movie: <%= @order.movie_name %> </li>
  <li>Showing: <%= @order.movie_date %> </li>
  <li>Auditorium: <%= @order.auditorium %> </li>
</ul>