<h2 class="text-center"><%= @movie.name %></h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
          <div>
            <%= image_tag @movie.poster_url, class: "movie-img" %>
          </div>
        </div>
        <div class="col-lg-8">
          <div>
            <p> Genre: <%= @movie.genre %> </p>
            <p> Description: <%= @movie.description %> </p>
            <p> Rating: <%= @movie.rating  %> </p>
            <p> Duration: <%= @movie.duration %> </p>
