<!DOCTYPE html>
<html>
  <head>
    <title>EzTix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:is_admin?] %>
      <%= link_to "view as user", as_user_path %>
    <% else %>
      <%= link_to "view as admin", as_admin_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
